
{% extends "main.tpl" %}

{% block content %}

<div class="page_box">
  {% include 'alert.tpl' %}
  <div class="columns">
    <div class="column has-text-right is-hidden-mobile">
      <div class="ads_aside" id="ads_side_left">
        {{ settings.ads_side_left|raw }}
      </div>
    </div>
    <div id="pictures_box">
      <div class="picture">
        <img src="upload/pictures/{{ picture.filename }}{% if picture.version %}?v={{ picture.version }}{% endif %}" alt="{{ picture.title }}">
        <h1 class="is-size-2">{{ picture.title }}</h1>
		<p>{{ picture.description|nl2br }}</p>
        <div class="set_voice_outside is-size-4">
          <div class="set_voice_box">
            <a href="#modal_voice_only_logged" class="has-text-white-ter {% if settings.voice_only_logged and not user.id %}modal_trigger{% else %}set_voice{% endif %}" data-picture_id="{{ picture.id }}" data-voice="1" data-token="{{ generateToken('set_voice') }}"><i class="fas fa-plus-square"></i></a>
            <span class="voice_plus">{{ picture.voices_plus }}</span>
          </div>
          <div class="set_voice_box">
            <a href="#modal_voice_only_logged" class="has-text-white-ter {% if settings.voice_only_logged and not user.id %}modal_trigger{% else %}set_voice{% endif %}" data-picture_id="{{ picture.id }}" data-voice="-1" data-token="{{ generateToken('set_voice') }}"><i class="fas fa-minus-square"></i></a>
            <span class="voice_minus">{{ picture.voices_minus }}</span>
          </div>
        </div>
        <p class="picture_data">{% if picture.waiting_room %}<a href="{{ path('waiting_room') }}" title="{{ 'Waiting Room'|lang }}" class="has-text-white-ter">{{ 'Waiting Room'|lang }}</a> • {% endif %}{% if picture.category %}<a href="{{ path('category',picture.category_id,picture.category.slug) }}" title="{{ 'Category'|lang }}: {{ picture.category.name }}" class="has-text-white-ter">{{ picture.category.name }}</a> • {% endif %}{% if picture.username %}{{ 'Author'|lang }}: <a href="{{ path('profile',picture.user_id,picture.username) }}" title="{{ 'Profile of'|lang }}: {{ picture.username }}" class="has-text-white-ter">{{ picture.username }}</a> • {% endif %}{{ 'View count'|lang }}: <span title="{{ 'all'|lang }}">{{ picture.view_all }}</span>&nbsp;/&nbsp;<span title="{{ 'unique'|lang }}">{{ picture.view_unique|default(0) }}</span> • {{ 'Added'|lang }}: {{ picture.date|date('Y-m-d') }}</p>
        {% if picture.tags %}
          <p>{{ 'Tags'|lang }}: {% for item in picture.tags %}<a href="{{ path('tag',0,item.slug) }}" title="{{ 'Tag'|lang }}: {{ item.name }}" class="has-text-white-ter">{{ item.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
        {% endif %}
        <div class="picture_social">
          <span class="has-text-white-ter">{{ 'Share'|lang }}: </span> 
          {% if settings.social_facebook %}
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ path('picture',picture.id,picture.slug) }}" title="{{ 'Share'|lang }} Facebook" rel="nofollow noopener" target="_blank"><i class="fab fa-facebook"></i></a>
          {% endif %}
          {% if settings.social_twitter %}
            <a href="https://twitter.com/intent/tweet?text={{ picture.title }} {{ path('picture',picture.id,picture.slug) }}" title="{{ 'Share'|lang }} Twitter" rel="nofollow noopener" target="_blank"><i class="fab fa-twitter"></i></a>
          {% endif %}
          {% if settings.social_pinterest %}
            <a href="https://pinterest.com/pin/create/button/?url={{ path('picture',picture.id,picture.slug) }}&media={{ settings.logo_facebook }}" title="{{ 'Share'|lang }} Pinterest" rel="nofollow noopener" target="_blank"><i class="fab fa-pinterest"></i></a>
          {% endif %}
          {% if settings.social_wykop %}
            <a href="https://www.wykop.pl/dodaj/link/?url={{ path('picture',picture.id,picture.slug) }}&title={{ picture.title }}" title="{{ 'Share'|lang }} Wykop" rel="nofollow noopener" target="_blank"><i class="fas fa-share-alt"></i></a>
          {% endif %}
          {% if settings.social_whatsapp %}
            <a href="whatsapp://send?text={{ path('picture',picture.id,picture.slug) }}" data-action="share/whatsapp/share" title="{{ 'Share'|lang }} WhatsApp" rel="nofollow noopener" target="_blank"><i class="fab fa-whatsapp"></i></a>
          {% endif %}
        </div>
        {% if settings.allow_comments_fb_picture %}
          <div class="fb-comments has-background-light" data-href="{{ path('picture',picture.id,picture.slug) }}" data-width="100%" data-colorscheme="dark" data-lazy="true"></div>
          <br>
        {% endif %}
        {% if picture.user_id==user.id or user.moderator %}
          <br>
          <a class="button is-small" href="{{ path('edit',picture.id,picture.slug) }}">{{ 'Edit'|lang }}</a>
          {% if user.moderator and picture.waiting_room %}
            <a href="#modal_main_page" class="button is-small modal_trigger is-success">{{ 'Add to Main Page'|lang }}</a>
            <div class="modal" id="modal_main_page">
              <div class="modal-background"></div>
              <form method="post">
                <input type="hidden" name="action" value="set_main_page">
                <input type="hidden" name="id" value="{{ picture.id }}">
                <input type="hidden" name="token" value="{{ generateToken('set_main_page') }}">
                <div class="modal-content box">
                  <h4 class="is-size-4">{{ 'Add to Main Page'|lang }}: {{ picture.title }}</h4>
                  <div class="has-text-right">
                    <input type="submit" class="button" value="{{ 'Execute'|lang }}">
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </form>
            </div>
          {% endif %}
          <a href="#modal_remove" class="button is-small modal_trigger is-danger">{{ 'Remove'|lang }}</a>
          <div class="modal" id="modal_remove">
            <div class="modal-background"></div>
            <form method="post">
              <input type="hidden" name="action" value="remove_picture">
              <input type="hidden" name="id" value="{{ picture.id }}">
              <input type="hidden" name="token" value="{{ generateToken('remove_picture') }}">
              <div class="modal-content box">
                <h4 class="is-size-4">{{ 'Delete picture'|lang }}: {{ picture.title }}</h4>
                <p>{{ 'Are you sure you want to delete picture'|lang }}: "{{ picture.title }}"?</p>
                <div class="has-text-right">
                  <input type="submit" class="button is-danger" value="{{ 'Execute'|lang }}">
                </div>
              </div>
              <button class="modal-close is-large" aria-label="close"></button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="column is-hidden-mobile">
      <div class="ads_aside" id="ads_side_right">
        {{ settings.ads_side_right|raw }}
      </div>
    </div>
  </div>
</div>


{% endblock %}
