
{% extends "main.tpl" %}

{% block content %}

<div class="page_box">
	<h1 class="is-size-2">{{ 'Profile of'|lang }}: {{ profile.username }}</h1>
	<h2 class="is-size-4"><a href="{{ path('profile_pictures',0,profile.username) }}" title="{{ 'See all pictures added by this user'|lang }}" class="has-text-white-ter">{{ 'See all pictures added by this user'|lang }}</a></h2>
	<br>
	<div class="columns">
		<div class="column">
			<h3 class="is-size-4">{{ 'Statistics'|lang }}</h3><br>
			<table class="table is-bordered is-striped">
				<tr><td>{{ 'Username'|lang }}:</td><td>{{ profile.username }}</td></tr>
				<tr><td>{{ 'Number of pictures'|lang }}:</td><td>{{ profile.number_files }}</td></tr>
				<tr><td>{{ 'In Waiting Room'|lang }}:</td><td>{{ profile.number_files_waiting_room }}</td></tr>
				<tr><td>{{ 'Date of registration'|lang }}:</td><td>{{ profile.date|date("d-m-Y") }}</td></tr>
				<tr><td>{{ 'Number of logins'|lang }}:</td><td>{{ profile.number_login }}</td></tr>
				{% if profile.last_login %}
					<tr><td>{{ 'Last login'|lang }}:</td><td>{{ profile.last_login|date("d-m-Y") }} / {{ profile.last_login|date("H:i") }}</td></tr>
				{% endif %}
			</table>
			{% if settings.allow_comments_fb_profile %}
				<br>
				<h3 class="is-size-4">{{ 'Comments'|lang }}</h3>
				<div class="fb-comments" data-href="{{ path('profile',0,profile.username) }}" data-width="100%" data-colorscheme="dark"></div>
			{% endif %}
		</div>
		{% if settings.show_contact_form_profile %}
			<div class="column">
				<h3 class="is-size-4">{{ 'Contact form'|lang }}</h3><br>
				{% include 'alert.tpl' %}
				<form method="post" enctype="multipart/form-data">
					<input type="hidden" name="action" value="send_message">
					<div class="field">
						<label for="name" class="label has-text-light">{{ 'Name'|lang }}</label>
						<div class="control">
							<input class="input" type="text" name="name" placeholder="{{ 'John Smith'|lang }}" id="name" required value="{{ input.name }}" title="{{ 'Enter your name'|lang }}">
						</div>
					</div>
					<div class="field">
						<label for="email" class="label has-text-light">{{ 'E-mail address'|lang }}</label>
						<div class="control">
							<input type="email" class="input" id="email" name="email" placeholder="{{ 'example@example.com'|lang }}" required value="{% if input.email %}{{ input.email }}{% elseif user.id %}{{ user.email }}{% endif %}" title="{{ 'Enter your email address'|lang }}" {% if user.id %}disabled{% endif %}>
						</div>
					</div>
					<div class="field">
						<label for="message" class="label has-text-light">{{ 'Message'|lang }}</label>
						<div class="control">
							<textarea class="textarea" rows="4" name="message" id="message" required placeholder="{{ 'My message'|lang }}" title="{{ 'Enter your message'|lang }}">{{ input.message }}</textarea>
						</div>
					</div>
					{% if settings.mail_attachment %}
						<div class="field">
							<label for="attachment" class="label has-text-light">{{ 'Attachment'|lang }}</label>
							<div class="control">
								<div class="file">
									<label class="file-label">
										<input class="file-input" type="file" name="attachment" id="attachment">
										<span class="file-cta">
											<span class="file-icon"><i class="fas fa-upload"></i></span>
											<span class="file-label">{{ 'Attachment'|lang }}</span>
										</span>
									</label>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="field">
						<label for="captcha" class="label has-text-light">{{ 'Enter the code Captcha'|lang }}</label>
						<div class="control">
							<img src="{{ path('captcha') }}" alt="captcha">
							<input class="input" type="text" placeholder="abc123" title="{{ 'Enter the code Captcha'|lang }}" name="captcha" id="captcha" required maxlength="32">
						</div>
					</div>
					<div class="field">
					  <div class="control">
					    <label class="checkbox has-text-light">
					      <input type="checkbox" name="rules" id="rules" required {% if input.rules %}checked{% endif %}>
					      {{ 'Accepts the terms and conditions and the privacy policy'|lang }}: <a href="{{ path('rules') }}" title="{{ 'Terms of service'|lang }}" target="_blank" class="has-text-white-ter">{{ 'Terms of service'|lang }}</a> - <a href="{{ path('privacy_policy') }}" title="{{ 'Privacy policy'|lang }}" target="_blank" class="has-text-white-ter">{{ 'Privacy policy'|lang }}</a>
					    </label>
					  </div>
					</div>
					<div class="field">
						<div class="control">
							<input type="submit" class="button is-light" value="{{ 'Send!'|lang }}">
						</div>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
