
{% extends "main.tpl" %}

{% block content %}
<div class="row">
	<br><br><br>
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> {{ 'Admin Panel'|lang }}</div>
			<div class="panel-body text-center">
				<br>
				<a href="http://wyremski.pl" title="Web Developer" target="_blank"><img src="images/admin.png" alt="Logo" class="img-responsive" style="margin:auto"/></a>
				<br><br>
				<p>{{ 'Administration panel allows you to edit the content and settings of your website. Use the links in the menu for this. If you have problems, you can ask questions on the blog'|lang }}: <a href="https://blog.wyremski.pl/skrypt-typu-demoty2/" title="Skrypt strony z demotywatorami i memami Demoty2" target="_blank">blog.wyremski.pl/skrypt-typu-demoty2</a></p>
			</div>
		</div>
	</div>
	<br><br><br>
</div>
{% endblock %}
