
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-asterisk"></span> {{ 'Ads settings'|lang }}</h1>
	<p>{{ 'Here you can edit the ads of the service'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_settings_ads">
	<div class="form-group">
		<label for="ads_side_left" class="col-sm-3 control-label">{{ 'Code of ads on left side'|lang }}:<br><small>{{ 'Suggested width'|lang }}: 160px</small></label>
		<div class="col-sm-9">
			<textarea name="ads_side_left" class="form-control">{{ settings.ads_side_left|raw }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="ads_side_right" class="col-sm-3 control-label">{{ 'Code of ads on right side'|lang }}:<br><small>{{ 'Suggested width'|lang }}: 160px</small></label>
		<div class="col-sm-9">
			<textarea name="ads_side_right" class="form-control">{{ settings.ads_side_right|raw }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="ads_top" class="col-sm-3 control-label">{{ 'Code of ads on the top page'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="ads_top" class="form-control">{{ settings.ads_top|raw }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="ads_bottom" class="col-sm-3 control-label">{{ 'Code of ads on the bottom page'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="ads_bottom" class="form-control">{{ settings.ads_bottom|raw }}</textarea>
		</div>
	</div>
	<hr>
	<h4>{{ 'Ads between pictures'|lang }}</h4>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<label><input type="checkbox" name="ads_between_pictures" title="{{ 'Show ads between pictures'|lang }}" {% if settings.ads_between_pictures %}checked{% endif %}> {{ 'Show ads between pictures'|lang }}</label>
		</div>
	</div>
	<div class="form-group">
		<label for="ads_amount_pictures" class="col-sm-3 control-label">{{ 'Show ads every X picture'|lang }}:</label>
		<div class="col-sm-9">
			<input type="number" min="1" step="1" name="ads_amount_pictures" value="{{ settings.ads_amount_pictures }}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-success">
		</div>
	</div>
</form>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="{{ 'Add ads between pictures'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Add ads between pictures'|lang }}</h4>
			</div>
			<form method="post" class="form">
				<input type="hidden" name="action" value="add_ads">
				<div class="modal-body">
					<div class="form-group">
						<label for="code">{{ 'Code'|lang }}</label>
						<textarea name="code" required placeholder="{{ 'Code'|lang }}" title="{{ 'Code'|lang }}" class="form-control"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">{{ 'Add ads between pictures'|lang }}</button>
<br><br>
{% if ads %}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th></th>
			<th>{{ 'Code'|lang }}</th>
			<th class="text-center">{{ 'Edit'|lang }}</th>
			<th class="text-center">{{ 'Remove'|lang }}</th>
		</tr>

		{% for item in ads %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ item.code|raw }}</td>
				<td class="text-center"><a href="#" title="{{ 'Edit'|lang }}" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edit_{{ item.id }}"></a></td>
				<td class="text-center"><a href="#" title="{{ 'Remove'|lang }}" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#remove_{{ item.id }}"></a></td>
			</tr>

			<div class="modal fade" id="edit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Edit'|lang }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{ 'Edit'|lang }}</h4>
						</div>
						<form method="post" class="form">
							<input type="hidden" name="action" value="edit_ads">
							<input type="hidden" name="id" value="{{ item.id }}">
							<div class="modal-body">
								<div class="form-group">
									<label for="name">{{ 'Code'|lang }}</label>
									<textarea name="code" required placeholder="{{ 'Code'|lang }}" title="{{ 'Code'|lang }}" class="form-control">{{ item.code|raw }}</textarea>
								</div>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove ads'|lang }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{ 'Remove ads'|lang }}</h4>
						</div>
						<form method="post">
							<input type="hidden" name="action" value="remove_ads">
							<input type="hidden" name="id" value="{{ item.id }}">
							<div class="modal-body">
								<p>{{ 'Are you sure you want to remove ads?'|lang }}</p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</table>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}

{% endblock %}
