
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-asterisk"></span> {{ 'Black list'|lang }}</h1>
	<p>{{ 'Here you can edit the black list. Members identified by them will not be able to register or add pictures'|lang }}</p>
	<p>{{ 'Each address type in the new line. After saving will be arranged alphabetically'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_settings_black_list">
	<div class="form-group">
		<label for="black_list_email" class="col-sm-3 control-label">{{ 'E-mail addresses'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="black_list_email" title="{{ 'E-mail addresses'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_email }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="black_list_ip" class="col-sm-3 control-label">{{ 'IP addresses'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="black_list_ip" title="{{ 'IP addresses'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_ip }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3 text-right">
			<label for="black_list_words" class="control-label">{{ 'Words'|lang }}:</label>
			<p>{{ 'Enter a comma-separated list of words that will be automatically removed from the title and description of picture'|lang }}</p>
		</div>
		<div class="col-sm-9">
			<textarea name="black_list_words" title="{{ 'Words'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_words }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
